In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [5]:
dts=pd.read_csv('datasets/HydroWASTE_v10/HydroWASTE_v10.csv',encoding='latin-1')

In [6]:
dts.head()

,WASTE_ID,SOURCE,ORG_ID,WWTP_NAME,COUNTRY,CNTRY_ISO,LAT_WWTP,LON_WWTP,QUAL_LOC,LAT_OUT,...,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,HYRIV_ID,RIVER_DIS,COAST_10KM,COAST_50KM,DESIGN_CAP,QUAL_CAP
0,1,1,1140441,Akmenes aglomeracija,Lithuania,LTU,56.247,22.726,2,56.223,...,4,Advanced,1,2421.974,20228874.0,4.153,0,0,4600.0,2
1,2,1,1140443,Alytaus m aglomeracija,Lithuania,LTU,54.432,24.056,2,54.519,...,1,Advanced,1,2534.527,20261585.0,257.983,0,0,220000.0,2
2,3,1,1140445,Anyksciu aglomeracija,Lithuania,LTU,55.509,25.073,2,55.452,...,1,Advanced,1,1367.809,20243105.0,30.995,0,0,33000.0,2
3,4,1,1140447,Ariogalos aglomeracija,Lithuania,LTU,55.252,23.484,2,55.210,...,1,Secondary,1,2061.969,20247446.0,13.799,0,0,4357.0,2
4,5,1,1140449,Baisogalos aglomeracija,Lithuania,LTU,55.644,23.741,2,55.681,...,4,Secondary,1,209.549,20239330.0,0.405,0,0,1490.0,2

In [7]:
dts.columns

Index(['WASTE_ID', 'SOURCE', 'ORG_ID', 'WWTP_NAME', 'COUNTRY', 'CNTRY_ISO',
       'LAT_WWTP', 'LON_WWTP', 'QUAL_LOC', 'LAT_OUT', 'LON_OUT', 'STATUS',
       'POP_SERVED', 'QUAL_POP', 'WASTE_DIS', 'QUAL_WASTE', 'LEVEL',
       'QUAL_LEVEL', 'DF', 'HYRIV_ID', 'RIVER_DIS', 'COAST_10KM', 'COAST_50KM',
       'DESIGN_CAP', 'QUAL_CAP'],
      dtype='object')

In [8]:
dts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58502 entries, 0 to 58501
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WASTE_ID    58502 non-null  int64
 1   SOURCE      58502 non-null  int64
 2   ORG_ID      58502 non-null  int64
 3   WWTP_NAME   53215 non-null  object
 4   COUNTRY     58502 non-null  object
 5   CNTRY_ISO   58502 non-null  object
 6   LAT_WWTP    58502 non-null  float64
 7   LON_WWTP    58502 non-null  float64
 8   QUAL_LOC    58502 non-null  int64
 9   LAT_OUT     58502 non-null  float64
 10  LON_OUT     58502 non-null  float64
 11  STATUS      58502 non-null  object
 12  POP_SERVED  58502 non-null  int64
 13  QUAL_POP    58502 non-null  int64
 14  WASTE_DIS   58502 non-null  float64
 15  QUAL_WASTE  58502 non-null  int64
 16  LEVEL       58502 non-null  object
 17  QUAL_LEVEL  58502 non-null  int64
 18  DF          47302 non-null  float64
 19  HYRIV_ID    58123 non-null  float64
 20  RIVER_DIS   47951 non-null  float64
 21  COAST_10KM  58502 non-null  int64
 22  COAST_50KM  58502 non-null  int64
 23  DESIGN_CAP  42667 non-null  float64
 24  QUAL_CAP    58502 non-null  int64
dtypes: float64(9), int64(11), object(5)
memory usage: 11.2+ MB

In [9]:
dtsnew = dts[[ 'WWTP_NAME', 'COUNTRY', 
       'LAT_WWTP', 'LON_WWTP', 'QUAL_LOC','STATUS',
       'POP_SERVED', 'QUAL_POP', 'WASTE_DIS', 'QUAL_WASTE', 'LEVEL',
       'QUAL_LEVEL', 'DF','RIVER_DIS',
       'DESIGN_CAP', 'QUAL_CAP']]

In [10]:
dtsnew.head()

,WWTP_NAME,COUNTRY,LAT_WWTP,LON_WWTP,QUAL_LOC,STATUS,POP_SERVED,QUAL_POP,WASTE_DIS,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,RIVER_DIS,DESIGN_CAP,QUAL_CAP
0,Akmenes aglomeracija,Lithuania,56.247,22.726,2,Not Reported,1060,2,148.213,4,Advanced,1,2421.974,4.153,4600.0,2
1,Alytaus m aglomeracija,Lithuania,54.432,24.056,2,Not Reported,87900,2,8797.904,1,Advanced,1,2534.527,257.983,220000.0,2
2,Anyksciu aglomeracija,Lithuania,55.509,25.073,2,Not Reported,12400,2,1959.285,1,Advanced,1,1367.809,30.995,33000.0,2
3,Ariogalos aglomeracija,Lithuania,55.252,23.484,2,Not Reported,2500,2,578.482,1,Secondary,1,2061.969,13.799,4357.0,2
4,Baisogalos aglomeracija,Lithuania,55.644,23.741,2,Not Reported,1200,2,167.788,4,Secondary,1,209.549,0.405,1490.0,2

In [11]:
pd.set_option('display.max_rows', None) 
dtsnew['COUNTRY'].value_counts()

COUNTRY
United States                       14819
Germany                              4257
Italy                                4090
France                               3622
Brazil                               2820
Mexico                               2540
China                                2486
Spain                                2118
Canada                               2064
United Kingdom                       1887
Poland                               1668
Russia                               1270
Australia                            1234
South Africa                          964
India                                 816
Switzerland                           758
Hungary                               749
Czech Republic                        663
Austria                               634
Romania                               553
Portugal                              500
Malaysia                              484
Sweden                                437
Netherlands                           417
Belgium                               410
Denmark                               383
Japan                                 378
Belarus                               348
Norway                                330
Slovakia                              322
Turkey                                320
New Zealand                           317
Ukraine                               312
Peru                                  184
Ireland                               166
Finland                               163
Greece                                158
Argentina                             143
Iran                                  134
Egypt                                 132
Algeria                               116
Bulgaria                              110
Latvia                                 89
Slovenia                               89
South Korea                            87
Taiwan                                 83
Croatia                                83
Lithuania                              74
Iraq                                   73
Estonia                                68
Colombia                               63
Saudi Arabia                           58
Philippines                            51
Moldova                                47
Chile                                  46
France (Martinique)                    45
Thailand                               44
Zimbabwe                               42
Kazakhstan                             40
Indonesia                              38
Israel                                 37
French Guiana                          37
Luxembourg                             35
Uzbekistan                             35
United Arab Emirates                   34
Hong Kong                              30
Tunisia                                30
Jordan                                 30
Morocco                                27
Ecuador                                26
Cuba                                   26
Bolivia                                26
Pakistan                               25
Kenya                                  24
Venezuela                              23
Uruguay                                22
Costa Rica                             21
Palestina                              21
France (Guadeloupe)                    19
Oman                                   18
Namibia                                18
Cyprus                                 17
Uganda                                 17
Bangladesh                             16
Lesotho                                15
Serbia                                 13
Jamaica                                13
Zambia                                 13
Syria                                  13
Sri Lanka                              13
Kyrgyzstan                             13
Bosnia and Herzegovina                 13
Dominican Republic                     12
New Caledonia                          12
Iceland                                11
Vietnam                                11
Haiti                                  10
CÃ´te d'Ivoire                          10
Tanzania                               10
Libya                                  10
Ghana                                  10
Paraguay                                9
Senegal                                 9
Azerbaijan                              8
Panama                                  8
North Korea                             8
Nepal                                   8
Guatemala                               8
Angola                                  8
Kuwait                                  7
Nicaragua                               7
Qatar                                   7
Cambodia                                7
Kosovo                                  6
El Salvador                             6
Albania                                 6
Honduras                                6
Cameroon                                6
Afghanistan                             5
Armenia                                 5
Trinidad and Tobago                     5
Macao                                   5
Tajikistan                              5
Botswana                                5
Georgia                                 5
Ethiopia                                4
Maldives                                4
Singapore                               4
Malta                                   4
Cabo Verde                              4
Montenegro                              3
Mozambique                              3
Macedonia                               3
Turkmenistan                            3
Togo                                    3
Rwanda                                  3
Swaziland                               3
France (Mayotte)                        3
Lebanon                                 3
Nigeria                                 3
Niger                                   3
Mali                                    3
Aruba                                   3
Bahamas                                 3
Democratic Republic of the Congo        3
Saint Lucia                             3
Saint-Martin                            2
New Zealand (Cook Islands)              2
Mauritius                               2
Papua New Guinea                        2
Saint Kitts and Nevis                   2
Guinea                                  2
Belize                                  2
Tonga                                   2
Fiji                                    2
Madagascar                              2
Brunei                                  2
Northern Mariana Islands                2
Burundi                                 2
Bhutan                                  2
Yemen                                   2
Sudan                                   2
Chad                                    2
Bahrain                                 2
Mongolia                                2
Laos                                    2
Myanmar                                 2
Finland (Aland)                         1
Monaco                                  1
Liberia                                 1
Seychelles                              1
Sierra Leone                            1
South Sudan                             1
Equatorial Guinea                       1
Gabon                                   1
British Virgin Islands                  1
Antigua and Barbuda                     1
United Kingdom (Montserrat)             1
Netherlands (Sint Maarten)              1
Barbados                                1
CuraÃ§ao                                 1
Burkina Faso                            1
Gambia                                  1
French Polynesia                        1
American Samoa                          1
Marshall Islands                        1
Micronesia                              1
Palau                                   1
Name: count, dtype: int64

In [12]:
dtsnew['STATUS'].value_counts()

STATUS
Not Reported              53033
Operational                3767
Closed                     1164
Projected                   193
Under Construction          140
Proposed                     81
Non-Operational              76
Decommissioned               28
Construction Completed       20
Name: count, dtype: int64

In [13]:
dtsnew.head()

,WWTP_NAME,COUNTRY,LAT_WWTP,LON_WWTP,QUAL_LOC,STATUS,POP_SERVED,QUAL_POP,WASTE_DIS,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,RIVER_DIS,DESIGN_CAP,QUAL_CAP
0,Akmenes aglomeracija,Lithuania,56.247,22.726,2,Not Reported,1060,2,148.213,4,Advanced,1,2421.974,4.153,4600.0,2
1,Alytaus m aglomeracija,Lithuania,54.432,24.056,2,Not Reported,87900,2,8797.904,1,Advanced,1,2534.527,257.983,220000.0,2
2,Anyksciu aglomeracija,Lithuania,55.509,25.073,2,Not Reported,12400,2,1959.285,1,Advanced,1,1367.809,30.995,33000.0,2
3,Ariogalos aglomeracija,Lithuania,55.252,23.484,2,Not Reported,2500,2,578.482,1,Secondary,1,2061.969,13.799,4357.0,2
4,Baisogalos aglomeracija,Lithuania,55.644,23.741,2,Not Reported,1200,2,167.788,4,Secondary,1,209.549,0.405,1490.0,2

In [14]:
dtsnew['STATUS'].value_counts()

STATUS
Not Reported              53033
Operational                3767
Closed                     1164
Projected                   193
Under Construction          140
Proposed                     81
Non-Operational              76
Decommissioned               28
Construction Completed       20
Name: count, dtype: int64

In [15]:
df_filtered = dtsnew[(dtsnew['STATUS'] == 'Operational') | (dtsnew['STATUS'] == 'Not Reported')]

In [16]:
df_filtered.head()

,WWTP_NAME,COUNTRY,LAT_WWTP,LON_WWTP,QUAL_LOC,STATUS,POP_SERVED,QUAL_POP,WASTE_DIS,QUAL_WASTE,LEVEL,QUAL_LEVEL,DF,RIVER_DIS,DESIGN_CAP,QUAL_CAP
0,Akmenes aglomeracija,Lithuania,56.247,22.726,2,Not Reported,1060,2,148.213,4,Advanced,1,2421.974,4.153,4600.0,2
1,Alytaus m aglomeracija,Lithuania,54.432,24.056,2,Not Reported,87900,2,8797.904,1,Advanced,1,2534.527,257.983,220000.0,2
2,Anyksciu aglomeracija,Lithuania,55.509,25.073,2,Not Reported,12400,2,1959.285,1,Advanced,1,1367.809,30.995,33000.0,2
3,Ariogalos aglomeracija,Lithuania,55.252,23.484,2,Not Reported,2500,2,578.482,1,Secondary,1,2061.969,13.799,4357.0,2
4,Baisogalos aglomeracija,Lithuania,55.644,23.741,2,Not Reported,1200,2,167.788,4,Secondary,1,209.549,0.405,1490.0,2

In [17]:
dtsnew.shape

(58502, 16)

In [18]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WWTP_NAME   51513 non-null  object
 1   COUNTRY     56800 non-null  object
 2   LAT_WWTP    56800 non-null  float64
 3   LON_WWTP    56800 non-null  float64
 4   QUAL_LOC    56800 non-null  int64
 5   STATUS      56800 non-null  object
 6   POP_SERVED  56800 non-null  int64
 7   QUAL_POP    56800 non-null  int64
 8   WASTE_DIS   56800 non-null  float64
 9   QUAL_WASTE  56800 non-null  int64
 10  LEVEL       56800 non-null  object
 11  QUAL_LEVEL  56800 non-null  int64
 12  DF          46340 non-null  float64
 13  RIVER_DIS   46500 non-null  float64
 14  DESIGN_CAP  41043 non-null  float64
 15  QUAL_CAP    56800 non-null  int64
dtypes: float64(6), int64(6), object(4)
memory usage: 7.4+ MB

In [19]:
df_filtered.drop('WWTP_NAME', axis=1, inplace=True)

C:\Users\saurabh\AppData\Local\Temp\ipykernel_7844\379122816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop('WWTP_NAME', axis=1, inplace=True)

In [20]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTRY     56800 non-null  object
 1   LAT_WWTP    56800 non-null  float64
 2   LON_WWTP    56800 non-null  float64
 3   QUAL_LOC    56800 non-null  int64
 4   STATUS      56800 non-null  object
 5   POP_SERVED  56800 non-null  int64
 6   QUAL_POP    56800 non-null  int64
 7   WASTE_DIS   56800 non-null  float64
 8   QUAL_WASTE  56800 non-null  int64
 9   LEVEL       56800 non-null  object
 10  QUAL_LEVEL  56800 non-null  int64
 11  DF          46340 non-null  float64
 12  RIVER_DIS   46500 non-null  float64
 13  DESIGN_CAP  41043 non-null  float64
 14  QUAL_CAP    56800 non-null  int64
dtypes: float64(6), int64(6), object(3)
memory usage: 6.9+ MB

In [21]:
df_filtered = df_filtered.drop(['COUNTRY', 'QUAL_LOC','STATUS','QUAL_POP','QUAL_LEVEL','QUAL_WASTE','QUAL_CAP'], axis=1)

In [22]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAT_WWTP    56800 non-null  float64
 1   LON_WWTP    56800 non-null  float64
 2   POP_SERVED  56800 non-null  int64
 3   WASTE_DIS   56800 non-null  float64
 4   LEVEL       56800 non-null  object
 5   DF          46340 non-null  float64
 6   RIVER_DIS   46500 non-null  float64
 7   DESIGN_CAP  41043 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.9+ MB

In [23]:
df_filtered.duplicated().sum()

np.int64(121)

In [24]:
df_filtered.columns.tolist()

['LAT_WWTP',
 'LON_WWTP',
 'POP_SERVED',
 'WASTE_DIS',
 'LEVEL',
 'DF',
 'RIVER_DIS',
 'DESIGN_CAP']

In [25]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAT_WWTP    56800 non-null  float64
 1   LON_WWTP    56800 non-null  float64
 2   POP_SERVED  56800 non-null  int64
 3   WASTE_DIS   56800 non-null  float64
 4   LEVEL       56800 non-null  object
 5   DF          46340 non-null  float64
 6   RIVER_DIS   46500 non-null  float64
 7   DESIGN_CAP  41043 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.9+ MB

In [26]:
df_filtered['DF'].fillna(df_filtered['DF'].median(), inplace=True)

C:\Users\saurabh\AppData\Local\Temp\ipykernel_7844\196045094.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered['DF'].fillna(df_filtered['DF'].median(), inplace=True)

In [27]:
df_filtered['RIVER_DIS'].fillna(df_filtered['RIVER_DIS'].median(), inplace=True)
df_filtered['DESIGN_CAP'].fillna(df_filtered['DESIGN_CAP'].median(), inplace=True)

C:\Users\saurabh\AppData\Local\Temp\ipykernel_7844\2115058692.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered['RIVER_DIS'].fillna(df_filtered['RIVER_DIS'].median(), inplace=True)
C:\Users\saurabh\AppData\Local\Temp\ipykernel_7844\2115058692.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered['DESIGN_CAP'].fillna(df_filtered['DESIGN_CAP'].median(), inplace=True)

In [28]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAT_WWTP    56800 non-null  float64
 1   LON_WWTP    56800 non-null  float64
 2   POP_SERVED  56800 non-null  int64
 3   WASTE_DIS   56800 non-null  float64
 4   LEVEL       56800 non-null  object
 5   DF          56800 non-null  float64
 6   RIVER_DIS   56800 non-null  float64
 7   DESIGN_CAP  56800 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.9+ MB

In [29]:
columns_to_convert = ['LAT_WWTP','LON_WWTP','WASTE_DIS','DF','RIVER_DIS','DESIGN_CAP']
df_filtered[columns_to_convert] = df_filtered[columns_to_convert].astype(int)

In [30]:
df_filtered = pd.get_dummies(df_filtered, columns=['LEVEL'], drop_first=True)

In [31]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56800 entries, 0 to 58501
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LAT_WWTP         56800 non-null  int64
 1   LON_WWTP         56800 non-null  int64
 2   POP_SERVED       56800 non-null  int64
 3   WASTE_DIS        56800 non-null  int64
 4   DF               56800 non-null  int64
 5   RIVER_DIS        56800 non-null  int64
 6   DESIGN_CAP       56800 non-null  int64
 7   LEVEL_Primary    56800 non-null  bool
 8   LEVEL_Secondary  56800 non-null  bool
dtypes: bool(2), int64(7)
memory usage: 3.6 MB

In [32]:
df_filtered.head()

,LAT_WWTP,LON_WWTP,POP_SERVED,WASTE_DIS,DF,RIVER_DIS,DESIGN_CAP,LEVEL_Primary,LEVEL_Secondary
0,56,22,1060,148,2421,4,4600,False,False
1,54,24,87900,8797,2534,257,220000,False,False
2,55,25,12400,1959,1367,30,33000,False,False
3,55,23,2500,578,2061,13,4357,False,True
4,55,23,1200,167,209,0,1490,False,True

In [33]:
df_filtered.shape

(56800, 9)

In [34]:
df_filtered.duplicated().sum()

np.int64(406)

In [35]:
df_filtered = df_filtered.drop_duplicates()

In [36]:
df_filtered.shape

(56394, 9)

In [37]:
df_filtered['EFFICIENCY'] = df_filtered['WASTE_DIS'] / df_filtered['DESIGN_CAP']
df_filtered['EFFICIENCY'].fillna(df_filtered['EFFICIENCY'].median(), inplace=True)

C:\Users\saurabh\AppData\Local\Temp\ipykernel_7844\557267805.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered['EFFICIENCY'].fillna(df_filtered['EFFICIENCY'].median(), inplace=True)

In [38]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56394 entries, 0 to 58501
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LAT_WWTP         56394 non-null  int64
 1   LON_WWTP         56394 non-null  int64
 2   POP_SERVED       56394 non-null  int64
 3   WASTE_DIS        56394 non-null  int64
 4   DF               56394 non-null  int64
 5   RIVER_DIS        56394 non-null  int64
 6   DESIGN_CAP       56394 non-null  int64
 7   LEVEL_Primary    56394 non-null  bool
 8   LEVEL_Secondary  56394 non-null  bool
 9   EFFICIENCY       56394 non-null  float64
dtypes: bool(2), float64(1), int64(7)
memory usage: 4.0 MB

In [42]:
df_filtered.replace([np.inf, -np.inf], np.nan, inplace=True)
df_filtered['EFFICIENCY'] = df_filtered['EFFICIENCY'].fillna(df_filtered['EFFICIENCY'].median())
df_filtered['EFFICIENCY'] = df_filtered['EFFICIENCY'].astype(int)

In [43]:
x=df_filtered[['LAT_WWTP','LON_WWTP','POP_SERVED','DF','RIVER_DIS','DESIGN_CAP','LEVEL_Primary','LEVEL_Secondary']]
y=df_filtered[['EFFICIENCY']]

In [44]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.ensemble import RandomForestRegressor  
model = RandomForestRegressor(n_estimators=100, random_state=42)  
model.fit(X_train, y_train)

C:\Users\saurabh\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(random_state=42)

In [46]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score  
y_pred = model.predict(X_test)
print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("RÂ² Score:", r2_score(y_test, y_pred))

MAE: 0.40222091413034755
MSE: 10.72973260661783
RÂ² Score: 0.7427280623116483